* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .servicos {
        grid-template-columns: 1fr;
    }
    .sobre {
        flex-direction: column;
    }
    .depoimentos {
        flex-direction: column;
        align-items: center;
    }
}
@media(min-windth:1200px) {
    .sobre {
        flex-direction: row;
    }
    .nav__list {
        flex-direction: row;
    }
    .depoimentos {
        flex-direction: row;
    }
    
}