/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* estilo Global  */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

/* cabeçalho */
header {
    background-color: #000;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* menu */
nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

/* links do menu */
nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}
/* efeito hover nos links do menu */
nav a:hover {
    color: #ff4500;
}

/* Seções */
section {
    padding: 4rem 2rem;
}

#home {
    background-image: linear-gradient(to bottom, #ff4500, #000);
    color: #fff;
    text-align: center;
}

#servicos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    background-color: #333;
    color: #fff;
}

.servico {
    background-color: #f7f7f7;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #000;
}

#sobre {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #f0f0f0;
    padding: 2rem;
}

/* Formulário de Contato */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    margin: auto;

}

input,
textarea {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #ff4500;
    color: #fff;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #000;
}
/* Depoimentos */
#depoimentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    margin: 20px;
    text-align: center;
    font-size: 16px;
    color: #0c0c0c;
    background-color: #f7f7f7;
}
/* Estilo para as imagens dos depoimentos */
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;/* Tornar a imagem circular */
    object-fit: cover;
    margin-bottom: 10px;
}


.logo {
    width: 10rem;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

#depoimentos p {
    max-width: 200px;
}

/* Rodapé */
#contato p {
    font-size: 16px;
    margin: 5px 0;
    color: #0c0c0c;
}
#contato {
    background-color: #f0f0f0;
    padding: 2rem;
    text-align: center;
    color: #000;

}

#contato button:hover {
    background-color: #000;
}

footer {
    gap: 2rem;
    background-color: #000;
    color:#fff;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
}
/* Responsividade */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    #servicos {
        grid-template-columns: 1fr;
    }
}
@media(min-windth:1200px) {
    #sobre {
        flex-direction: row;
    }
    nav ul {
        flex-direction: row;
    }
    
}

