.logo {
    width: 10rem;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 2rem;
}


.nav__link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.nav__link:hover {
    color: #ff4500;
}

.nav__link--active {
    font-weight: bold;
    border-bottom: 2px solid #ff4500;
}

.home {
    background-image: linear-gradient(to bottom, #ff4500, #000);
    color: #fff;
    text-align: center;
}

.servico {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    background-color: #333;
    color: #fff;
}

.servico__item {
    background-color: #f7f7f7;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #000;
}

.sobre {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #f0f0f0;
    padding: 2rem;
}


.depoimentos {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin: 20px;
    text-align: center;
    font-size: 16px;
    color: #0c0c0c;
    background-color: #f7f7f7;
}

.depoimento__text {
    max-width: 300px;
}

.contato {
    background-color: #f0f0f0;
    text-align: center;
    color: #000;
    padding: 4rem 2rem;
}

.contato__button--hover {
    background-color: #000;
}


.contato__text {
    font-size: 16px;
    margin: 5px 0;
    color: #0c0c0c;
}

.contato__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    margin: auto;

}

.depoimentos__img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* Tornar a imagem circular */
    object-fit: cover;
    margin-bottom: 10px;
}



.contato__input {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contato__textarea {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contato__button {
    background-color: #ff4500;
    color: #fff;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contato__button:hover {
    background-color: #000;
}